# Системные файлы
.DS_Store
Thumbs.db

# Сборка и временные файлы Gradle
.gradle/
build/
.cxx/
.externalNativeBuild/
captures/

# Локальные настройки пользователя
local.properties

# Логи
*.log

# Android Studio и IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Готовые сборки и профилирование
*.apk
*.aab
output-metadata.json
*.hprof

# Безопасность: Ключи подписи
*.jks
*.keystore
*.pk8
*.p12
